@model AspMVCCRUD.Models.runningCourse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>runningCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numberOfStudents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numberOfStudents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numberOfClasses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numberOfClasses)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.runningCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
