@model IEnumerable<AspMVCCRUD.Models.runningCourse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfClasses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfClasses)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.runningCourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.runningCourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.runningCourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
