@model AspMVCCRUD.Models.UserLogIn

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserLogIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.phnNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.userId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
