@{
    ViewData["Title"] = "Admin Panel";
}




<br>

<br>
<div>
    @*<button class="btn-primary" style="border-radius">@Html.ActionLink("Back to Home", "Index", "Home")</button>*@
    <a href="../Home/Index" class="button3">Home</a>

    @*<button class="btn-primary" style="border-radius">@Html.ActionLink("Back to Home", "Index", "Home")</button>*@
    <a href="../Home/Index" class="button3">Sign Out</a>
</div>
<br>

<div class="background" style="background:linear-gradient(#348F50,#56B4D3);padding:20px;border-radius:10px;color:snow;">

    <h3>Admin Panel</h3>
    <div class="row">
        <div class="col-md-6">

            <div>
                @*<button class="btn-primary" style="border-radius">@Html.ActionLink("Back to Home", "Index", "Home")</button>*@
                <a href="../StudentsLists/Index" class="button3">Registered student table</a>
            </div>
        </div>
        <div class="col-md-6">
            <a href="../TeachersLists/Index" class="button3">Registered teacher table</a>
        </div>
        <br>
        <div class="col-md-6">
            <a href="../CourseTables/Index" class="button3">ADD COURSES</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="button3">Charge Student(VIA BDAPPS)</a>
        </div>

    </div>

</div>






@*<div class="admin_panel">
    <h3>ADMIN CAN MODIFY STUDENT/TEACHER DATA HERE</h3>


    1. @Html.ActionLink("Registered student table", "Index", "StudentsLists", null, new { style = "text-decoration:none" })<br />
    2. @Html.ActionLink("Registered teacher table", "Index", "TeachersLists", null, new { style = "text-decoration:none" })
    <br />
    3. @Html.ActionLink("ADD COURSES", "Index", "CourseTables", null, new { style = "text-decoration:none" })
    <br />
    4. @Html.ActionLink("Charge Student(VIA BDAPPS)", "About", "Home", null, new { style = "text-decoration:none" })
</div>*@