@model AspMVCCRUD.Models.TeachersOwnList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeachersOwnList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.courseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.completeCourse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.completeCourse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointPerCourses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointPerCourses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberofClassPerCourses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberofClassPerCourses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberofDoneClassPerCourses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberofDoneClassPerCourses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpAmmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUpAmmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeachersOwnListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
