@model AspMVCCRUD.Models.TrainerReg

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainerReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.c_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.trainerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
